body{
	width:80%;
	margin:auto;
	border: 1px solid red;
}

header{
	background-color: lightgrey;
}
header img{ 
		width:20%; 
	}
	
header	div{
	text-decoration: none;
}

	
header	h2{
	width:55%;
}


.main{
	margin-top: 25%;
}

footer{
	background-color: lightgrey;
}