<header>
	<img src="https://egyptinnovate.com/sites/default/files/styles/details_page_image_width_654/public/Project-Management.jpg?itok=SIynbALN">
	
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="">Home</a></li>
            <li><a href="/login.php">Login</a></li>
            <li><a href="/register.php">Register</a></li>
          </ul>
</header>