{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>
	<img style="width:100%" src="https://cdn-images-1.medium.com/max/1920/1*xzoYpYHX1Cgb9cuUi6w-LQ.png">
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('homepage_translation') }}">return to the homepage</a>.
    </p>
{% endblock %}